div.container {
  padding-top: 0;
}

header.header {
  min-height: 170px;
  background-size: cover;
  background-position-x: unset;
  background-position-y: bottom;
}

div.titles {
  margin-left: 5px;
}

@media (max-width: 1200px) {
  header.header {
    min-height: 170px;
    background-size: cover;
    background-position-x: unset;
    background-position-y: bottom;
  }

  div.titles {
    padding-top: 1px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  header.header {
    min-height: 150px;
  }

  div.titles {
    padding-top: 6px;
  }

  .blog-title {
    font-size: 32px;
  }

  .blog-sub {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  header.header {
    min-height: 100px;
    padding-right: 0px;
    padding-left: 2px;
  }

  main {
    padding-top: 20px;
  }

  div.post-stream {
    padding-top: 0px;
  }

  div.titles {
    padding-top: 1px;
  }

  div.blog-logo img {
    height: 50px;
  }

  .blog-title {
    font-size: 25px;
  }


  .blog-sub {
    display: none;
  }

  .post > h2 > a.post-title-link {
    font-size: 24px;
  }

  .post-author {
    font-size: 18px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
}

img.inline-image {
  width: 100%;
  height: auto;
}

.main-menu {
  margin-bottom: 30px;
}

.main-menu .nav-pills > li.active > a {
  background: #154F20;
  color: white;
}

.main-menu .nav-pills > li > a {
  color: #154F20;
}

code.inline {
  color: rgb(36, 41, 46);
  background-color: rgba(27, 31, 35, 0.05);
}

a {
  color: #56bc8d;
  text-decoration: none;
}
a:hover {
  color: #2b8a69;
  text-decoration: underline;
}

div.well {
  background-color: #f5fbf5;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #efe;
}

body {
  background-color: #cadaca;
}
